<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ETime" connectionString="Data Source=dcap-sql-locs-a;Initial Catalog=ETIME;Persist Security Info=True;User ID=locss_mgmt;Password=Exela$11" providerName=".NET Framework Data Provider for SQL Server" />
    <add name="LOCSSMGMT" connectionString="Data Source=dcap-sql-locs-a;Initial Catalog=LOCSS_Mgmt;Persist Security Info=True;User ID=locss_mgmt;Password=Exela$11" providerName=".NET Framework Data Provider for SQL Server" />
    <add name="LOCSSSCWEB" connectionString="Data Source=dcap-sql-locs-a;Initial Catalog=LOCSSSCWEB;Persist Security Info=True;User ID=locss_mgmt;Password=Exela$11" providerName=".NET Framework Data Provider for SQL Server" />
  <add name="LOCSSSCWEBEntities" connectionString="metadata=res://*/Model.LOCSSSCWEB.csdl|res://*/Model.LOCSSSCWEB.ssdl|res://*/Model.LOCSSSCWEB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dcap-sql-locs-a;initial catalog=LOCSSSCWEB;persist security info=True;user id=locss_mgmt;password=Exela$11;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>