<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ETime" connectionString="Data Source=dcap-sql-locs-a.lason.com;Initial Catalog=ETIME;Persist Security Info=True;User ID=locss_mgmt;Password=Exela$11" providerName=".NET Framework Data Provider for SQL Server" />
    <add name="LOCSSMGMT" connectionString="Data Source=dcap-sql-locs-a.lason.com;Initial Catalog=LOCSS_Mgmt;Persist Security Info=True;User ID=locss_mgmt;Password=Exela$11" providerName=".NET Framework Data Provider for SQL Server" />
    <add name="LOCSSSCWEB" connectionString="Data Source=dcap-sql-locs-a.lason.com;Initial Catalog=LOCSSSCWEB;Persist Security Info=True;User ID=locss_mgmt;Password=Exela$11" providerName=".NET Framework Data Provider for SQL Server" />
    <add name="LOCSSSCWEBEntities" connectionString="metadata=res://*/Model.LOCSSSCWEB.csdl|res://*/Model.LOCSSSCWEB.ssdl|res://*/Model.LOCSSSCWEB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dcap-sql-locs-a.lason.com;initial catalog=LOCSSSCWEB;persist security info=True;user id=locss_mgmt;password=Exela$11;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>